name: Build LaTeX documents

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2
      - name: Compile Introduction slides
        uses: xu-cheng/latex-action@v2
        with:
          root_file: Introduction.tex
          working_directory: Introduction/
      - name: Compile Bitcoin slides
        uses: xu-cheng/latex-action@v2
        with:
          root_file: Bitcoin.tex
          working_directory: Bitcoin/
      - name: Compile Ethereum slides
        uses: xu-cheng/latex-action@v2
        with:
          root_file: Ethereum.tex
          working_directory: Ethereum/
      - name: Check pdf files
        run: |
          file Introduction/Introduction.pdf | grep -q ' PDF '
          file Bitcoin/Bitcoin.pdf | grep -q ' PDF '
          file Ethereum/Ethereum.pdf | grep -q ' PDF '
      - name: Upload
        uses: actions/upload-artifact@v2
        with:
          name: blockchain-course
          path: |
            Introduction/Introduction.pdf
            Bitcoin/Bitcoin.pdf
            Ethereum/Ethereum.pdf
        if: always()
